/* 
Checklist Approach

1. Structure (build the HTML/CSS skeleton)
2. Content (the stuff / populate the structure)
3. Sizing (size all teh stuff!)
4. Styling (colors, effects, and fonts etc.)
5. Space (layout/position on the page)
*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#wrapper{
    width: 700px;
    background-color: rgb(213, 210, 174);
    margin: 0 auto;
    padding: 20px 10px;
}
#header{
    width: 700px;
    text-align: center;
    padding: 10px 0;
}
#header img{
    width: 100px;
    height: 50px;
    background-color: white;
}
#header h1{
    display: inline-block;
}
#header p{
    display: inline-block;
}
#main{
    text-align: center;
}
#main img:nth-child(odd){
    border: 10px solid rgb(130, 180, 238);
}
#main img:nth-child(even){
background-color: rgb(243, 104, 112);
padding: 10px;
}
#main img{
    width: 125px;
    height: 125px;
    outline: 3px solid black;
    margin: 3px;
}